.center-container {
    margin-top: 50px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 10px;
    flex-wrap: wrap;
}

.content:nth-child(2) {
    margin-top: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-container {
    margin-top: 16px;
    max-width: 300px;
    align-self: center;
    width: 100%;
}

.table-content {
    overflow: hidden;
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
}

.table-content thead tr {
    background-color: var(--primary-color);
    color: #ffffff;
}

.table-content th,
.table-content td {
    padding: 5px;
    text-align: center;
}

.table-content tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.table-content tbody tr i {
    cursor: pointer;
    margin-left: 5px;
}
